body {
padding-bottom: 30px;
padding-top: 70px;  
}

#nav {
  padding: 10px 0 10px 0;
  height: 40px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
#nav a {
  color: #fff;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
#nav a:hover {
  opacity: 1;
}

#nav a:hover { opacity: 1; }
 
#nav:hover { height: 120px; }

#navhiddenbar {
  display: block;
  width: 100%;
  color: #b09f82;
  font-weight: bold;
  padding: 8px 0;
  font-size: 1.3em;
  text-align: center;
  text-shadow: 1px 1px 0 #444;
}
#navhiddenbar a {
  font-size: 1.0em;
  text-decoration: none;
  opacity: 0.5;
  text-shadow: none;
}
#navhiddenbar a:hover { opacity: 1; }